<div class='container'>
  <h1>{{product.title}}</h1>
  
  <img class="img-responsive" ng-src="{{product.photos}}"/>
  
  <p>{{product.description}}</p>
  
  <span ng-hide="!product.price"><strong>Price:</strong> {{product.price}}</span>
  
  <p ng-hide="!product.inventory_qty || product.inventory_qty === 0"><strong>In stock:</strong> {{product.inventory_qty}}</p>
  
  <p ng-show="!product.inventory_qty || product.inventory_qty === 0" class="text-danger">Sold Out</p>

  <select ng-options="value for value in inventoryArray" ng-model="quantity"></select>

  <button class="btn btn-primary" ng-disabled="!quantity" ng-click="addToCart(product, quantity, cart)">Add to Cart</button>
  
  <button class="btn btn-danger"  ng-click="destroy(product)">Delete</button>
  <br clear="all">

</div>