<form id="signup-form" name="signupForm" ng-submit="signupForm.$valid && signUp()">
    <h3 style='margin-bottom: 30px'>Sign Up</h3>
    <div class="form-group">
        <label for="userEmail">Email Address</label>
        <input type="text" class="form-control" id="userEmail" placeholder="Enter your email" ng-model="credentials.email" required>
        <p ng-show="existsEmail && credentials.email" style="color: red">User Already Exists!</p>
        <label for="signup-password">Password</label>
        <input name="password" type="password" ng-model="credentials.password" class="form-control" id="signup-password" placeholder="Choose a Password" required>

        <label for="signup-password">Confirm Password</label>
        <input name="confirmPassword" type="password" ng-model="credentials.confirm" class="form-control" id="signup-password-2" placeholder="Re-Enter Password" required match-password="password">
        <div ng-messages="signupForm.confirmPassword.$error" ng-if="signupForm.confirmPassword.$error.passwordMatch" ng-messages-multiple="ng-messages-multiple" class="error-messages slide-right">
        <div ng-message="passwordMatch" class="message slide-left" style="color: red">Your passwords did not match</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
