<form id="signup-form" name="signupForm" ng-submit="signupForm.$valid && signUp()">
    <h3 style='margin-bottom: 30px'>Sign Up</h3>
    <div class="form-group">
        <label for="userEmail">Email Address</label>
        <input type="text" class="form-control" id="userEmail" placeholder="Enter your email" ng-model="credentials.email" required>
        <p ng-show="Email === credentials.email && credentials.email" style="color: red">User Already Exists!</p>
        <label for="signup-password">Password</label>
        <input type="password" ng-model="credentials.password" class="form-control" id="signup-password" placeholder="Choose a Password" required>

        <label for="signup-password">Confirm Password</label>
        <input type="password" ng-model="credentials.confirm" class="form-control" id="signup-password-2" placeholder="Re-Enter Password" compare-to="credentials.password" required>
        <div>{{credentials.confirm.$error}}</div>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>