<div class="container">
  <h1>Welcomt to Your Account Page</h1>
  <h2>Your Orders</h2>
    <table class="table" ng-repeat="order in orders">
    	<caption>Order #{{order.id}}</caption>
    	<thead>
    		<th>Item</th>
    		<th>Quantity</th>
    		<th>Total</th>
    	</thead>
    	<tbody>
    		<tr ng-repeat="item in order.lineItems">
    			<td>{{item.product.title}}</td>
    			<td>{{item.quantity}}</td>
    			<td>{{item.price*item.quantity}}</td>
    		</tr>
    	</tbody>
    </table>
  <h2>Your Profile</h2>
</div>