<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../../scss/checkout/main.css">
<head>
  <title></title>
</head>
<body>
    <div class="container">
      <h1>Checkout</h1>
      <p>You are about to purchase:</p>
        <div class='container'>
            <table class="table">
              <thead>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
              </thead>
              <tbody>
                <tr ng-repeat="item in lineItems">
                  <td>{{item.product.title}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.price}}</td>
                </tr>
              </tbody>
            </table>
        </div>

        <form action="#"
          name="cardForm"
          data-card
          data-width="500"
          data-card-container="#card-container"
          data-placeholders="cardPlaceholders"
          data-options="cardOptions"
          data-messages="cardMessages">

          <div>
            <input placeholder="Card number" type="text" name="CardNumber" card-number data-ng-model="card.number" />

            <input placeholder="Full name" type="text" name="CardName" card-name data-ng-model="card.name" />
          </div>
          <div>
            <input placeholder="MM / YYYY" type="text" name="CardExpiry" card-expiry data-ng-model="card.expiry" />

            <input placeholder="CVC" type="text" name="CardCvc" card-cvc data-ng-model="card.cvc" />

            <input type="button" value="Change card" data-ng-click="changeCard()" />
            <input type="button" value="Clear" data-ng-click="clear()" />
          </div>

        </form>

        <h3>Now, where to send it?</h3>
        <form name="shippingForm" class="ship-form">
          <label>First Name:</label>
          <input type="text" name="userFirstName" ng-model="firstName" required />
          <div ng-messages="shippingForm.userFirstName.$error">
            <div ng-message="required">This field is required</div>
          </div>

          <label>Last Name:</label>
          <input type="text" name="userLastName" ng-model="lastName" required />
          <div ng-messages="shippingForm.userLastName.$error">
            <div ng-message="required">This field is required</div>
          </div>

          <label>Email Address:</label>
          <input type="email" name="userEmail" ng-model="email" required />
          <div ng-messages="shippingForm.userEmail.$error">
            <div ng-message="required">This field is required</div>
            <div ng-message="email">Your email address is invalid</div>
          </div>

          <label>Phone Number:</label>
          <input type="email" name="userPhoneNumber" ng-model="phoneNumber" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required/>
          <div ng-messages="shippingForm.userPhoneNumber.$error">
            <div ng-message="required">This field is required</div>
            <div ng-message="pattern">Must be a valid 10 digit phone number</div>
          </div>
          <br>
          {{ shippingForm.$valid }}
          <!-- <label>User Message:</label>
          <textarea type="text" name="userMessage" class="form-control" rows="4" ng-model="message" ng-minlength="10" ng-maxlength="100" required></textarea>
          <div ng-messages="shippingForm.userMessage.$error">
            <div ng-message="required">This field is required</div>
            <div ng-message="minlength">Message must be over 10 characters</div>
            <div ng-message="maxlength">Message must not exceed 100 characters</div>
          </div> -->
        </form>

       <button class="btn btn-primary" ng-click="placeOrder(cart)">
           Place My Order
       </button>
    </div>

</body>
</html>