* {
    box-sizing: border-box;
}

body {
    background: #2b3e50;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#main {
    padding-top: 60px;
    margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';

#filter-btn {
    padding: 4px 10px;
}

.quantity {
    width: 50px;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.get-quickshop {
    position: relative;
    display: block;
    width: 110px;
    margin: 15px auto 12px auto;
    margin-top: -4px\9;
    padding: 0;
    text-align: center;
    border: 1px solid #aaa;
    font: 10px/16px Arial, sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.navbar {
    margin-bottom: 0;
}

.navbar .login-button {
    margin-top: 0;
}

.navbar .signup-button {
    margin-top: 0;
}

// .thumbnail:hover {
//   background-color: darken(#4e5d6c, 5%);
// }
